<article class="post">

    <div class="picture">
        <img src="{{url}}" class="dog-photo-image"/>
    </div>
    <div class="post-content">
        <p class="name">
            Name: {{name}}
        </p>
        <p class="breed">
            Breed: {{breed}}
        </p>
        <p class= "price">
            Adoption Fee: {{price}}
        </p>
        <p class= "gender">
            Gender: {{gender}}
        </p>
        <p class="description">
            Description: {{description}}
        </p>
    </div>
</article>
